@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general{
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu', sans-serif;
    padding: 10px;
}
.what{
    align-self: center;
    font-weight: 700;
    font-size: 1.1rem;
    border-bottom: 3px solid #D3FFCC;
    padding-bottom: 7px;
}
.bluue{
    max-width: 428px;
    width: 85vw;
    margin: auto;
}
.cardone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 30px;
    margin: 30px 10px;
}
.generaltwo{
    border: 1px solid #edfceb;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #edfceb;
    padding: 10px;
}
.influence{
    background: linear-gradient(90deg, #22DF03 23.07%, #148102 76.51%);
    border-radius: 15.9315px;
    text-align: center;
    color: #fff;
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
    padding: 20.7109px 123.469px;
    margin-bottom: 30px;
    max-width: 762.94px;
    font-size: 25.4904px;
    font-size: 6vw;
    padding: 10px;
}
.testify{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 59px;
}
.monials{
    width: 90vw;
    max-width: 301px;
    max-height: 244px;
    text-shadow: #148102;
}
.write{
    -webkit-text-stroke: 2px #22df03;
    color:#fff;
    font-size:2rem;
    font-weight: bolder;
    border-bottom: 3px solid #d3ffcc;
    padding-bottom: 10px;
    max-width: 600px;
    margin-bottom: 20px;
}
.exclaim{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeen{
    font-family: 'ubuntu', sans-serif;
    padding: 10px;
}
.parag{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 7.8px;
    color: #fbfbfb;
    max-width: 851px;
    line-height: 120%;
}
.paragcontainer{
    background-image: url(/src/images/greenlong.svg);
    background-repeat: no-repeat;
    min-width: 280px;
    min-height: 158px;
    background-size:100%;
    height: 42vw;
    width: 76.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

@media screen and (min-width:468px){
    .parag{
        font-size: 2vw;
    }
    .influence{
        padding: 15.7109px 50.469px;
        font-size: 25.4904px;
    }
}
@media screen and (min-width:1442px){
    .parag{
        font-size: 26px;
    }
}
@media screen and (min-width:1024px){
    .write{
        font-size: 50px;
    }
    /* .generaltwo{
        padding: 0 100px;
    } */
    .testify{
        margin-bottom: 40px;
    }
    .influence{
        padding: 20.7109px 123.469px;
    }
}