@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Ubuntu:wght@400;500;700&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logos{
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
}
.dlogos{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}
.bars{
    display: block;
    cursor: pointer;
}
.barer{
    width: 25px;
    height: 3px;
    background-color: rgb(54, 165, 54);
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    margin: 5px auto;
    display: block;
}
.bars.active .barer:nth-child(2){
    opacity: 0;
}
.bars.active .barer:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.bars.active .barer:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}